name: Testing
on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        go: [ '1.24' ]
        os: [ ubuntu-latest, macOS-latest ]
    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{matrix.go}}
      - name: go vet
        shell: bash --noprofile --norc -x -eo pipefail {0}
        run: |
          go mod tidy
          go vet ./...
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v1.64.8

      - name: Run tests
        shell: bash --noprofile --norc -x -eo pipefail {0}
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
        run: |
          export GOPATH="$RUNNER_WORKSPACE"

          go test -v -race -p 1 ./...
          ./scripts/cov.sh CI
