name: Testing
on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        go: ["1.26"]
        os: [ubuntu-latest, macOS-latest]
    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          cache: false
          go-version: ${{matrix.go}}
      - name: go vet
        shell: bash --noprofile --norc -x -eo pipefail {0}
        run: |
          go mod tidy
          go vet ./...
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
      - name: Run tests
        shell: bash --noprofile --norc -x -eo pipefail {0}
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
        run: |
          export GOPATH="$RUNNER_WORKSPACE"

          go test -v -race -p 1 ./...
          ./scripts/cov.sh CI
