name: Release
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          # https://github.com/actions/setup-go?tab=readme-ov-file#version-aliases
          go-version: "stable"
          check-latest: true
          # We are producing a release artifact, so should accept the penalty
          # cost of uncached builds and avoid the risk of cache poisoning via
          # PRs.
          cache: false

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Setup Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_CLI_TOKEN }}

      - name: Get Image Tags
        id: tags
        run: |
          version=$(sed 's/^v//' <<< ${{ github.ref_name }})
          echo tags="latest,${version}" >> $GITHUB_OUTPUT

      - name: Build and Push
        uses: docker/bake-action@v6
        env:
          TAGS: "${{ steps.tags.outputs.tags }}"
          REGISTRY: "natsio"
        with:
          source: .
          push: true
          set: goreleaser.args.GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
